.image-row {
  display: flex;
  width: 100%;

  .image-item {
    object-fit: cover;
    width: 25%;
  }
}

@media screen and (max-width: 500px) {
  .image-row {
      display: flex;
      flex-wrap: wrap;
    .image-item {
      width: 50%;
      height: 50%;
    }
  }
}
