.ci {
  display: flex;
  justify-content: center;
  position: relative;

  .ci-col {
    width: 50%;
    .ci-image {
        object-fit: cover;
    }

    .ci-col-text {
        position: absolute;
        top: 400px;
        width: 25%;
        text-align: center;

        .ci-col-title {
            font-size: 2rem;
            padding-bottom: 1em;
            font-family: 'Fraunces';
        }

        .ci-col-subtext {
            font-family: 'Barlow';
        }
    }

    .cyan {
      color: hsl(167, 40%, 24%);
    }

    .blue {
      color: hsl(198, 62%, 26%);
    }
  }
}


@media only screen and (max-width: 500px) {
  .ci {
    flex-direction: column;
    margin:0;
    padding:0;

    .ci-col {
      width: 100%;
      margin: -0.5em 0 0 0;
      display: flex;
      justify-content: center;

      .ci-image {
        object-fit: contain;
        align-items: center;
      }

      .ci-col-text {
        width: 80%;

        .graphic-text {
          
        }

        .photography-text {
          position: absolute;
          bottom: -690px;
          text-align: center;
        }

        .photography-title {
          position: absolute;
          bottom: -660px;
          left: 25%;
        }
      }

      
    }
  }
}